*
{
  background-color: #FFD7C4;  
  color: #F95454;
}
#p1
{
    font-size:large;
    max-width: 600px;
}
.1
{
font-family:courier;
}
h1,h3
{
color: cadetblue;
}
ul
{
  bold:dark;
}
#p2
{
  max-width: 700px;
}